@import './global.scss';
@import './variables.scss';

.on_scale div.v-responsive__content:hover {
  transform: translate(0, -20px);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.on_scale {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
