@import './variables.scss';
@import './global.scss';

#main-content,
#content {
  width: 85vw;
  margin: 0 auto;
  border-color: transparent;
  outline: 0 none;
  background: #f2f4f3;
  border-radius: 0.8rem;
  -webkit-box-shadow: 5px 5px 12px #d6ddda, -5px -5px 12px #fff !important;
  box-shadow: 5px 5px 12px #d6ddda, -5px -5px 12px #fff !important;
  text-align: justify;
  padding: 20px;
}

a#mail-contact.subtitle-2.subtitle-2.text-center.v-btn.v-btn--contained.v-btn--router.theme--light.v-size--default
  span {
  font-size: 12px !important;
}

iframe {
  width: 100%;
  margin-top: 20px;
  height: 250px;
}

#home #main-content {
  width: 100%;
}

#main-content,
#content {
  font-size: 1.5em;
}

#content-title {
  font-size: 2em;
}

#percorsi-card {
  width: 100%;
}

#main-content .v-card__title {
  word-break: normal !important;
  text-align: center !important;
  justify-content: center;
}

.card-text {
  color: black !important;
  text-align: center;
}

.card-title {
  justify-content: center !important;
  word-break: normal !important;
}

#content-title {
  color: $item-content-border;
  text-transform: uppercase;
  margin: 20px auto;
  max-width: 85vw;
  font-size: 2em;
  font-weight: 300;
}

.sub_heading {
  color: #fff;
  font-weight: light;
  line-height: 1.467;
}

.text-xs-body-2 {
  font-size: 2em !important;
}

#content-subtitle {
  max-width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

.media1 {
  & .v-responsive.v-image {
    width: 100%;
    border-radius: 0.8rem !important;
  }
  width: 85vw;
  -webkit-box-shadow: 5px 5px 12px #d6ddda, -5px -5px 12px #fff !important;
  box-shadow: 5px 5px 12px #d6ddda, -5px -5px 12px #fff !important;
  margin: 20px auto;
}

#main-content .media1 {
  width: 100%;
}

#to-top {
  bottom: 10vh;
}

#sub-content {
  margin: 20px auto;
  padding: 10px;
}

#sub-expandible {
  text-align: center;
  margin: 20px auto;
  & button:not(:first-child) {
    padding: 16px 16px 16px 45%;
  }
  & button:first-child {
    padding-right: 16px;
  }

  & .v-expansion-panel {
    margin: 0 auto 10px auto;
    border-radius: 100%;
  }
}

#toelettatura-contacts {
  width: 85vw;
  text-align: center;
}

#second_content_large {
  background-color: #f5f5f5;
}

@media only screen and (min-width: 960px) {
  #main-content,
  #content {
    width: inherit;
    margin: 0 auto;
    border-color: transparent;
    outline: 0 none;
    background: #f2f4f3;
    border-radius: 0.8rem;
    -webkit-box-shadow: 5px 5px 12px #d6ddda, -5px -5px 12px #fff !important;
    box-shadow: 5px 5px 12px #d6ddda, -5px -5px 12px #fff !important;
    text-align: justify;
    padding: 20px;
  }

  #main-content-desktop {
    text-align: left;
    font-size: 16px;
    padding: 20px;
    line-height: 1.688;
  }

  .media1 {
    & .v-responsive.v-image {
      width: inherit;
      border-radius: 0.8rem !important;
    }
    width: inherit;
    -webkit-box-shadow: 5px 5px 12px #d6ddda, -5px -5px 12px #fff !important;
    box-shadow: 5px 5px 12px #d6ddda, -5px -5px 12px #fff !important;
    margin: 20px auto;
  }

  .aiuto {
    border-color: transparent;
    outline: 0 none;
    background: #f2f4f3;
    border-radius: 0.8rem;
    -webkit-box-shadow: 5px 5px 12px #d6ddda, -5px -5px 12px #fff !important;
    box-shadow: 1px 1px 2px #d6ddda, -1px -1px 2px #fff !important;
  }

  #content_large {
    // height: 100vh;
    width: 100%;
    // max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
  }

  #card_large {
    width: 85vw;
  }

  .card_img {
    border-radius: 5px;
  }

  #content_row {
    padding: 0 20px;
    width: 100vw;
  }

  #main_row {
    width: 100%;
  }
}
