@import './variables.scss';
@import './global.scss';

#main-content,
#content {
  width: 85vw;
  margin: 0 auto;
  border-color: transparent;
  outline: 0 none;
  background: #f2f4f3;
  border-radius: 0.8rem;
  -webkit-box-shadow: 5px 5px 12px #d6ddda, -5px -5px 12px #fff !important;
  box-shadow: 5px 5px 12px #d6ddda, -5px -5px 12px #fff !important;
  text-align: justify;
  padding: 20px;
}

iframe {
  width: 85vw;
  margin-top: 20px;
}

#content-title {
  color: $item-content-border;
  text-transform: uppercase;
  margin: 20px auto;
  max-width: 85vw;
}

#content-subtitle {
  max-width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

.media1 {
  & .v-responsive.v-image {
    width: 100%;
    border-radius: 0.8rem !important;
  }
  width: 85vw;
  -webkit-box-shadow: 5px 5px 12px #d6ddda, -5px -5px 12px #fff !important;
  box-shadow: 5px 5px 12px #d6ddda, -5px -5px 12px #fff !important;
  margin: 20px auto;
}

#to-top {
  bottom: 10vh;
}

#sub-content {
  margin: 20px auto;
  padding: 10px;
}

#sub-expandible {
  text-align: center;
  margin: 20px auto;
  & button:not(:first-child) {
    padding: 16px 16px 16px 45%;
  }
  & button:first-child {
    padding-right: 16px;
  }

  & .v-expansion-panel {
    margin: 0 auto 10px auto;
    border-radius: 100%;
  }
}

#toelettatura-contacts {
  width: 85vw;
  text-align: center;
}
