@import './global.scss';
@import './variables.scss';

#stripe {
  width: 85vw;

  & tr:nth-child(odd) {
    background-color: #aae56d;
  }
}

#content-title {
  font-size: 2em !important;
}

#table {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.text-xs-body-2 {
  font-size: 2em;
}

@media only screen and (min-width: 960px) {
  #table {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }

  .text-xs-body-2 {
    font-size: 3.75em;
  }
}
