@import '~assets/variables.scss';

.container {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Josefin Sans', sans-serif !important;
}

.tiktok {
  & svg {
    display: inline-block;
    height: auto;
    fill: white;
  }
  display: inline-block;
  color: white !important;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
