@import '@/assets/variables.scss';
@import '@/assets/global.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');

#main_app {
  font-family: 'Josefin Sans', sans-serif;
}
.custom-title {
  color: $main-text-color;
}

.v-list .v-list-item--active {
  & span {
    border-right: 2px solid $item-content-border;
  }
}

.section_divider_one {
  width: 100%;
  height: 50px;
  border: 5px solid #aae56d;
}

.section_divider_two {
  width: 100%;
  height: 50px;
  border: 5px solid #2196f3;
}

#footer {
  background-color: $item-content-border;
}

#second {
  height: 100vh;
  background-size: contain !important;
  background-position: center;
  & .v-data-table.theme--light {
    background-color: transparent;
  }
}

#third {
  position: relative;
  height: 100vh;
}

#fourth {
  height: 100vh;
  position: relative;
}
