@import '@/assets/variables.scss';
@import '@/assets/global.scss';

.custom-title {
  color: $main-text-color;
}

.v-list .v-list-item--active {
  & span {
    border-right: 2px solid $item-content-border;
  }
}

#footer {
  background-color: $item-content-border;
}

#second {
  height: 100vh;
  background-size: contain !important;
  background-position: center;
  & .v-data-table.theme--light {
    background-color: transparent;
  }
}
