@import '@/assets/variables.scss';
@import '@/assets/global.scss';

.custom-title {
  color: $main-text-color;
}

.v-list .v-list-item--active {
  & span {
    border-right: 2px solid $item-content-border;
  }
}

#footer {
  background-color: $item-content-border;
}
