@import './global.scss';
@import './variables.scss';

#shape {
  height: 100px;

  & .shape-left {
    width: 250px !important;
    background-color: transparent;
    border: none !important;
  }
  & .shape-right {
    background-color: #5ea5ef;
    border-radius: 5px 0 0 5px;
    color: white;
    font-size: 1.3em;
    text-transform: uppercase;
  }
}

#shape-content {
  & .shape-content-left {
    background-color: transparent;
    height: 100%;
  }
  & .shape-content-right {
    background-color: #aae56d;
  }
}

.section-divider {
  border-color: red !important;
}
