// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$title-text-color: white;
$item-content-border: #42a5f5;
$item-content-border-radius: 3px;
