// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

//main app
$main-text-color: white;
$item-content-border: #42a5f5;
$item-content-border-bis: #21f37e;
$item-content-border-radius: 0;
$card-light-background: white;

//cards-component
$card-icon-background-color: #42a5f5;
$card-icon-background-color-bis: #21f37e;

//social
$tiktok: white;
$facebook: #4267b2;
$instagram: #c93390;
$whatsapp: #00e676;
